body {
background-color: #EAECE1;
}

h1 {
font-family: 'Titan One';
font-size: 30px;
color: white;
background-color: #00A748;
padding: 10px;
margin-bottom: 0px;
text-transform: uppercase;
text-align: center;
}

.spis1 { background-color: #00A748; }
.spis2 { background-color: #66AD61; }
.spis3 { background-color: #8DCD77; }
.spis4 { background-color: #EAECE1; }

.navbar-brand {
margin-left: 20px;
}

.container-fluid {
max-width: 1000px;
margin: 0 auto;
padding: 0 15px;
}

@media (max-width: 767px) {
  .container-fluid {
  padding: 0;
  }
}

.row {
margin-right: 0px;
margin-left: 0px;
}

.card {
background-color: #EAECE1;
min-width: 180px;
}

a {
text-decoration: none;
text-color: #00A748;
}

.center {
text-align: center;
}

.recipeImg {
display: block;
margin-left: auto;
margin-right: auto;
max-width: 655px;
}

.illustrationImg {
display: block;
margin-left: auto;
margin-right: auto;
max-width: 610px;
}

.portraitImg {
display: block;
margin-left: auto;
margin-right: auto;
max-width: 250px;
}


.diet {
background-color: #8DCD77;
font-size: 14px;
text-align: center;
height: 62px;
width: 62px;
padding: 5px 2px;
margin: 2px 0px;
}

.diet img {
height: 30px;
width: 30px;
}

.portion {
background-color: #8DCD77;
font-size: 14px;
padding: 0.1px 7px;
border-radius: 9999px;
display: inline-block;
}

.portion-controls button,
.portion-controls h5 {
display: inline-block;
}

.print {
background-color: #66AD61;
font-size: 14px;
text-align: center;
height: 62px;
width: 62px;
padding: 5px 2px;
margin: 2px 0px;
}

.print img {
height: 30px;
width: 30px;
}

.footer {
text-align: center;
}

.madspilds-tips {
    font-style: italic;
    font-size: 12px;
}