body {
background-color: #EAECE1;
}

h1 {
color: white;
background-color: #00A748;
padding: 10px;
text-transform: uppercase;
text-align: center;
}

.spis1 { background-color: #00A748; }
.spis2 { background-color: #66AD61; }
.spis3 { background-color: #8DCD77; }
.spis4 { background-color: #EAECE1; }

.navbar-brand {
margin-left: 20px;
}

.container-fluid {
max-width: 1000px;
margin: 0 auto;
padding: 0 15px;
}

@media (max-width: 767px) {
.container-fluid {
  padding: 0;
  }
}

.card {
background-color: #EAECE1;
}

a {
  text-decoration: none;
}

/*.logo {
height: 60px;
width: 60px;
}*/

.portion-controls button,
.portion-controls h5 {
  display: inline-block;
}