<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="style.css" th:href="style.css">
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
<header>
    <div class="logo"><img src="/images/logo.png"  alt="Logo"></div>
    <div class="topnav">
        <a href="/">Hjem</a>
        <a href="/season">Sæsonens grønt</a>
        <a href="/recipes">Opskrifter</a>
        <a href="/about">Om os</a>
    </div>
</header>
<h1>Om "Spis Op!"</h1>
<div class="main">
<div class="bodyText">
    VI er...


</div>
</div>
</body>
</html>