<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="..static/style.css" th:href="style.css">
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>

<body>
<header>
    <div class="logo"><img src="C:\Users\45282\Documents\Line\Noter\Graduation/logo-removebg-preview.png" alt="Logo"></div>
    <div class="logo"><img src="pictures/logo-removebg-preview.png" alt="Logo"></div>
</header>
<!--<nav class="navbar navbar-expand-sm bg-light justify-content-center">-->
<!--    <div class="container-fluid">-->
<!--        <ul class="navbar-nav">-->
<!--        </ul>-->
<!--    </div>-->
<!--</nav>-->

<h1>About Eat Up</h1>
<div class="bodyText">
    VI er...


</div>
</body>
</html>