<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/style.css" th:href="@{/style.css}">

    <title>Spis Op - Hjem</title>
</head>

<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-light spis4 fixed-top">
        <div class="container-fluid">
            <img src="/images/logo.png" alt="Logo" height="60" width="60" margin-left="20px">
            <a class="navbar-brand" href="/">Spis Op</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/opskrifter">Opskrifter</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/saeson">Sæson</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/om">Om</a>
                    </li>
                </ul>
                <form th:action="@{/search}" method="get" class="d-flex">
                    <span id="search-icon" class="fa fa-search"></span>
                    <input type="text" name="ingredients" placeholder="Søg fx gulerødder, blomkål" id="search-input" class="form-control me-2" style="display: none;">
                    <button type="submit" class="btn spis3">Søg</button>
                </form>
            </div>
        </div>
    </nav>
</header>
</br>
</br>

<div class="container-fluid mt-3">
    <h1>Find opskrifter</h1>
    <div class="container-fluid">
        <div class="row">
            <!-- Left coloumn: Search field -->
            <div class="col-4 spis2 text-white p-3">
                <div>
                    <p>Søg på de ingredienser du har i køleskabet.</p>
                    <p>Adskil med komma (fx "gulerødder, blomkål, ærter").</p>
                </div>
                <div id="search-container">
                    <form th:action="@{/search}" method="get" class="d-flex">
                        <input type="text" name="ingredients" placeholder="Søg fx gulerødder, blomkål" class="form-control me-2">
                        <button type="submit" class="btn spis3" >Søg</button>
                    </form>
                </div>
            </div>
            <!-- Right coloumn: Yet to be decided what to put here -->
            <div class="col-8 spis3 text-dark p-3">
            <!--Evt. indsæt alle opskrifter her-->
            </div>
        </div>
    </div>
</div>

<script src="script.js" th:src="@{/script.js}"></script>

</body>
</html>