<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>Hjem</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="/season">Sæson</a>
    <a href="/recipes">Opskrifter</a>
    <a href="/about">Om os</a>
</div>

<h1>Spis Op</h1>

<h2>Find opskrifter</h2>
<div id="search-container">
    <form action="/search" method="get">
        <input type="text" name="query" placeholder="Søg fx gulerødder blomkål -ærter">
        <button type="submit">Søg</button>
    </form>
</div>
<div>
    <p>Søg på de ingredienser du har i køleskabet. Adskil med mellemrum (fx "gulerødder blomkål ærter").</p>
    <p>Undgå specifikke ingredienser med minus (fx "gulerødder blomkål -ærter").</p>
</div>

</body>
</html>