<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>Hjem</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="/saeson">Sæsonens grønt</a>
    <a href="/opskrifter">Opskrifter</a>
    <a href="/om">Om os</a>
</div>

<h1>Spis Op</h1>

<h2>Find opskrifter</h2>
<div id="search-container">
    <form th:action="@{/search}" method="get">
        <input type="text" name="ingredients" placeholder="Søg fx gulerødder blomkål">
        <button type="submit">Search</button>
    </form>

<!--
    <form action="/search" method="POST"> --- skal dens action være /search eller /
        <input type="text" name="firstName"/>
        <input type="text" name="ingredients" placeholder="Søg fx gulerødder blomkål">
        <button type="submit">Search</button>
    </form>

-->
</div>
<div>
    <p>Søg på de ingredienser du har i køleskabet. Adskil med komma (fx "gulerødder, blomkål, ærter").</p>
</div>

</body>
</html>