<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="style.css" th:href="style.css">
    <meta charset="UTF-8">
    <title>Opskrift detaljer</title>
</head>
<body>
<header>
    <div class="logo"><img src="/images/logo2.png" height="100" width="100" alt="Logo"></div>
    <div class="topnav">
        <a href="/">Hjem</a>
        <a href="/saeson">Sæsonens grønt</a>
        <a href="/opskrifter">Opskrifter</a>
        <a href="/om">Om os</a>
    </div>
</header>
<h2 th:text="${recipe.title}"></h2>
<img th:src="${recipe.imageUrl}" height="350" width="350" alt="recipe image">
<ul>
<!--    <h5 th:text="'Portioner: ' + ${recipe.portions}"></h5>-->
<!--    <div>-->
<!--        <button>-</button>-->
<!--        <h5 th:text="'Portioner: ' + ${recipe.portions}"></h5>-->
<!--        <button>+</button>-->
<!--    </div>-->
<!--    <button onclick="addPortion()">+</button>-->
<!--    <h5 th:text="'Portioner: ' + ${recipe.portions}"></h5>-->
<!--    <button onclick="removePortion()">-</button>-->

<!--    <form action="/recipe/{id}/portions" method="post">
        <input type="hidden" name="_method" value="put">
        <p>Current Portions: <span th:text="${recipe.portions}"></span></p>
        <button type="submit" name="addPortion" value="true">+</button>
        <button type="submit" name="addPortion" value="false">-</button>
    </form>-->


    <h5>
        Portioner: <span th:text="${recipe.portions}"></span>
        <button type="button" onclick="location.href='/recipe/'+${recipe.id}+'/add-portion'" class="btn btn-outline-secondary ml-2">+</button>
        <button type="button" onclick="location.href='/recipe/'+${recipe.id}+'/remove-portion'" class="btn btn-outline-secondary ml-2">-</button>
    </h5>






    <li th:each="ingredient : ${recipe.ingredients}">

        <span th:text="${ingredient.ingredientName}"></span>
        <span th:text="${ingredient.amount}"></span>
        <!--<span th:text="${ingredient.amount != 0 ? #numbers.formatDecimal(ingredient.amount, 1) : 0}"></span>-->
        <span th:text="${ingredient.measurement}"></span>
    </li>
</ul>

<h4>Tilberedning</h4>
<!--<ol>-->
<!--    <li th:each="instruction : ${recipe.instructions}">-->
<!--        <span th:text="${instruction.step}"></span>-->
<!--    </li>-->
<!--</ol>-->
</body>
</html>