<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="style.css" th:href="style.css">
    <meta charset="UTF-8">
    <title>All recipes</title>
</head>
<body>
<header>
    <div class="logo"><img src="/images/logo2.png" height="150" width="150" alt="Logo"></div>
    <div class="searchTop">
        <img src="/images/search.png" height="50" width="50" alt="Search icon">
    </div>
    <div class="topnav">
        <a href="/">Hjem</a>
        <a href="/saeson">Sæsonens grønt</a>
        <a href="/opskrifter">Opskrifter</a>
        <a href="/om">Om os</a>
    </div>
</header>
<h1>Opskrifter</h1>
<div class="main">

    <ul>
        <li th:each="result : ${searchResult}">
            <img th:src="${result.image_url}" alt="recipe image">
            <h3 th:text="${result.title}"></h3>
        </li>
    </ul>
    <ul>
        <li th:object="${recipe}">
            <h3 th:text="$*{title}"></h3>
            <h3 th:field="$*{title}"></h3>
            <img th:src="$*{image_url}" alt="recipe image">
        </li>
    </ul>

    <div>
        <div th:each="recipe : ${recipes}">
            <a th:href="'/opskrifte/' + ${recipe.getId}">
                <h2 th:text="${recipe.getTitle}"></h2>
                <img th:src="${recipe.image_url}" alt="recipe image">
            </a>
        </div>
    </div>




</div>
</body>
</html>