<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>Hjem</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="topnav">
    <a href="/">Hjem</a>
    <a href="/saeson">Sæsonens grønt</a>
    <a href="/opskrifter">Opskrifter</a>
    <a href="/om">Om os</a>
</div>

<h1>Spis Op</h1>

<div id="search-container">
    <form action="/search" method="get">
        <input type="text" name="query" placeholder="Søg...">
        <button type="submit">Søg</button>
    </form>
</div>

<!--<ul>-->
<!--    <li th:each="ingredient : ${recipe.getIngredients()}" th:text="${ingredient.getIngredientName()}"></li>-->
<!--</ul>-->

</body>
</html>