<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="style.css" th:href="style.css">
    <meta charset="UTF-8">
    <title>Search result</title>
</head>
<body>
<header>
    <div class="logo"><img src="/images/logo.png" height="150" width="150" alt="Logo"></div>
    <div class="searchTop">
        <img src="/images/search.png" height="50" width="50" alt="Search icon">
    </div>
    <div class="topnav">
        <a href="/">Hjem</a>
        <a href="/saeson">Sæsonens grønt</a>
        <a href="/opskrifter">Opskrifter</a>
        <a href="/om">Om os</a>
    </div>
</header>
<h1>Opskrifter</h1>
<div class="main">

    <div class="grid-container">
        <div class="grid-item item1">
            <img src="/images/search.png" height="20" width="20" alt="search">
            Du har søgt på
            <div class="box">
                <p th:text="${ingredientName}"></p>
            </div>
        </div>
        <div class="grid-item item2">
            <div th:if="${not #lists.isEmpty(searchResult)}">
<!--                Bootstrap billede -->
                <ul>
                    <li th:each="result : ${searchResult}">
<!--                        <img th:src="${result.image_url}" alt="recipe image">-->
                        <h3 th:text="${result.title}"></h3>
                    </li>
                </ul>
            </div>
            <div th:if="${#lists.isEmpty(searchResult)}">
                <p>Der er desværre ingen opskrifter med de ingredienser. Prøv en ny søgning</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>